/* === Урок 4 ===  */
/* Завдання №1. 
Змініть колір тексту на червоний та фон на жовтий, 
коли користувач наведе курсор миші на кнопку */
/* Використовуйте цей селектор :hover */
.lesson-four-task-one .btn:hover {
  color: #ec0303;
  background-color: #f0f004;
}

/* Завдання №2. Змініть фон заголовка на зелений, 
коли користувач наведе курсор миші на посилання: */
/* Використовуйте цей селектор :hover */
.lesson-four-task-two .link:hover + .title {
  background-color: #0ce20c;
}

/* Завдання №3. Змініть колір тексту 
та фон відвіданого посилання на жовтий: */
/*  Порада проходити це завдання на 
https://codepen.io/ ,адже через те,
що браузер запам'ятовує посилання,
на які ви заходили,
вам потрібно буде скидати кеш постійно,
тому легше всього пройти тут
Використовуйте цей селектор :visited */

/* Цей код працює в codepen.io , 
але не працює в браузері 
ChatGPT пише, що це налаштування безпеки*/

.lesson-four-task-three a:visited {
  background-color: #fefe51;
  color: #b6b602;
}

/* Завдання №4. Змініть колір тексту та фон посилання,
    яке знаходиться в блоку з ідентифікатором "sidebar",
    на червоний:
    Порада проходити це завдання на https://codepen.io/ ,адже через те,
    що браузер запам'ятовує посилання,
    на які ви заходили,
    вам потрібно буде скидати кеш постійно,
    тому легше всього пройти тут
    Використовуйте цей селектор :link*/

/* Це код працює в codepen.io , але не працює у CHROME */

#sidebar a:link {
  color: #9f0303;
  background-color: #ea3939;
}

/* Завдання №5. Змініть колір тексту та фон кнопки, 
коли користувач натискає на неї, на червоний:
Використовуйте цей селектор :active  */
.lesson-four-task-five .btn:active {
  color: #900202;
  background-color: #f14444;
}

/* Завдання №6. Змініть колір тексту та фон кнопки,
 коли вона отримує фокус, на помаранчевий:
  Використовуйте цей селектор :focus */
.lesson-four-task-six .btn:focus {
  color: #c27f03;
  background-color: #fbb533;
}

/* Завдання №7. Змініть колір тексту та фон елемента,
  який вказаний в URL як фрагмент, на зелений, 
  коли на нього встановлюється :target: 
   Використовуйте цей селектор :target */

.lesson-four-task-seven #target:target {
  color: #015101;
  background-color: #03fa03;
}

/*  Завдання №8. Змініть колір тексту на білий 
та фон елемента на синій при натискані відповідного
чекбоксу: 
Використовуйте цей селектор :checked */

.lesson-four-task-eight #checkbox:checked + #target {
  color: #fff;
  background-color: #00f;
}

/* Завдання №9. Змінити колір тексту на синій 
для усіх елементів на сторінці, 
які написані українською мовою.
Використовуйте цей селектор :lang() */
.lesson-four-task-nine p:lang(uk) {
  color: #0101b9;
}

/* Завдання №10. Змінити колір тексту на 
червоний та фон на жовтий елементів форми, 
які включені та доступні для введення. 
Використовуйте цей селектор :enabled */

.lesson-four-task-ten input:enabled {
  color: #d20909;
  background-color: #f2f249;
}

/* Завдання №11. При використанні селектора 
:disabled змінити фоновий колір на жовтий 
в полях введення, які є неактивними. 
 Використовуйте цей селектор :disabled */

.lesson-four-task-eleven input:disabled {
  background-color: #ff0;
}

/* Завдання №12. Встановіть жовтий фоновий колір 
для елементів <input>, що без атрибута readonly.
Використовуйте цей селектор :read-write */

.lesson-four-task-twelve input:read-write {
  background-color: #e7e747;
}

/* Завдання №13. Встановіть жовтий фоновий колір 
для інпуту з атрибутом readonly. 
Змініть колір тексту на червоний, 
а фоновий колір на блідо-жовтий.*/

/* Навіщо змінювати колір тексту в read-only,
якщо там не можна нічого писати?
Я так зрузуміла, що це завдання для інших інпутів */

.lesson-four-task-thirteen input:read-only {
  background-color: #b5b500;
}

.lesson-four-task-thirteen input {
  background-color: #fbfba7;
  color: #d60f0f;
}

/* Завдання №14. Зробіть поле вводу зеленим, 
коли введене значення коректне, 
і червоним - якщо ні. 
Використовуйте ці селектори :valid та :invalid */

.lesson-four-task-fourteen input:valid {
  background-color: #01af01;
}

.lesson-four-task-fourteen input:invalid {
  background-color: #d13838;
}

/* Завдання №15. Застосувати селектор 
:optional до текстового поля форми,
яке не є обов'язковим для заповнення, 
і змінити його фон на червоний, 
Використовуйте цей селектор :optional */

.lesson-four-task-fifteen textarea:optional {
  background-color: #f43f3f;
}

/* Завдання №16. Є форма з полем вводу числа, 
яке може бути від 0 до 100.
Задача змінити колір фону на червоний, 
якщо значення не входить до цього діапазону. 
Використовуйте цей селектор :out-of-range */

/* !!! bg-secondary клас має перевагу, 
через chrome-dev-tools цей клас стоїть зі значенням
!important , тому клас занотован в HTML */

.lesson-four-task-sixteen input:out-of-range {
  background-color: #f20c0c;
}

/*  Є форма з полем вводу числа, 
яке може бути від 0 до 100.
Задача змінити колір фону на червоний, 
якщо значення входять до діапазону від 0 до 100.
Використовуйте цей селектор :in-range */

/* !!! bg-secondary клас має перевагу, 
через chrome-dev-tools цей клас стоїть зі значенням
!important , тому клас занотован в HTML */

.lesson-four-task-seventeen input:in-range {
  background-color: #e02;
}

/* Завдання №18.У цьому завданні потрібно зробити, 
щоб змінювався колір фону placeholder на червоний,
який зникає, коли користувач починає вводити. 
Використовуйте цей селектор :placeholder-shown */

.lesson-four-task-eighteen input:placeholder-shown {
  background-color: #902;
}

/* Завдання №19. Застосуйте селектор :focus-within 
до блоку, який змінює колір тексту на білий 
та фоновий колір на жовтий при активному стані. */

.btn-group button:focus-within {
  color: #fff;
  background-color: #dd2;
}

/* Завдання №20. При валідації форми з помилкою, 
 змінюйте колір фону на червоний. 
Використовуйте цей селектор :invalid */

.lesson-four-task-twenty form:invalid {
  background-color: #f60505;
}

/* Завдання №21.Зробити текст червоного кольору 
для мітки (label), яка має встановлене значення 
за замовчуванням (checked) для елементу input 
з типом радіо (radio) у розділі з класом 
lesson-four-task-twenty-one.
Використовуйте цей селектор :default */

.lesson-four-task-twenty-one input:default + label {
  background-color: #f40303;
}
